[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pydocstyle = "*"
neovim = "*"
ipython = "*"
pytest = "*"
sphinx = "*"
codecov = "*"
pytest-cov = "*"
black = "*"
mypy = "*"
flake8 = "*"

[packages]
pip = "*"
wheel = "*"
setuptools = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
