[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
codecov = "*"
flake8 = "*"
ipykernel = "*"
ipython = "*"
mypy = "*"
neovim = "*"
pydocstyle = "*"
pytest = "*"
pytest-cov = "*"
sphinx = "*"
pymint = {editable = true,path = "."}

[packages]
matplotlib = "*"
numpy = "*"
pandas = "*"
pip = "*"
setuptools = "*"
urllib3 = ">1.24.1"
wheel = "*"
pytz = "*"
scipy = "*"

[pipenv]
allow_prereleases = true
