[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
codecov = "*"
flake8 = "*"
ipython = "*"
mypy = "*"
neovim = "*"
pydocstyle = "*"
pytest = "*"
pytest-cov = "*"
sphinx = "*"

[packages]
matplotlib = "*"
numpy = "*"
pandas = "*"
pip = "*"
setuptools = "*"
wheel = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
